.Select{
    display: flex;
    margin-bottom: 25px;
    label {
        min-width: 120px;
        margin-right: 15px;
    }
    select {
        flex-grow: 1;
        height: 30px;
        min-width: 180px;
        padding: 5px 0 5px 5px;
    }
}