@import '../../../styles/variables.scss';

.Cross {
    position: absolute;
    top: 10px;
    right: 20px;
    width: 50px;
    height: 50px;
    &:hover {
        cursor: pointer;
    }
    &-right,
    &-left {
        position: absolute;
        left: 12px;
        top: 25px;
        background-color: $main-green;
        width: 25px;
        height: 2px;
    }
    &-right {
        transform: rotate(45deg);
    }
    &-left {
        transform: rotate(-45deg);
    }
}
