@import "../../styles/variables.scss";

.Income {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    &__category {
        flex-grow: 1;
        padding-left: 40px;
    }
    &__comment {
        color: $text-uness-color;
    }
    &__value {
        color: $income;
    }
}
