@import '../../styles/variables.scss';

.Categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid #ccc;
    padding: 10px 20px;
    border-radius: 3px;
    &__item{
        font-size: 20px;
        color: $main-black;
        position: relative;
        margin-bottom: 15px;
        padding-left: 60px;
        &:before{
            content: "";
            left: 0;
            position: absolute;
            width: 30px;
            height: 30px;
        }
        &:after{
            content: "";
            right: 0;
            position: absolute;
            width: 30px;
            height: 30px;
            background: url('../../assets/pictures/arrow-down.svg') no-repeat;
            transform: rotate(0deg);
            transition: transform 350ms ease-in-out;
        }
        &:hover{
            cursor: pointer;
        }
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__item--income:before{
        background: url('../../assets/pictures/plus.svg') no-repeat;
    }
    &__item--outcome:before{
        background: url('../../assets/pictures/minus.svg') no-repeat;
        background-size: 30px;
    }
    &__item--opened:after{
        transform: rotate(180deg);
    }
}