.WalletStatus {
    display: flex;
    font-size: 20px;
    width: 100%;
    justify-content: space-between;
    position: relative;
    margin-bottom: 15px;
    &__name {
        padding-left: 60px;
        a {
            color: #333;
            text-decoration: none;
            &:hover {
                opacity: 0.7;
            }
        }
    }
    &__value {
        &--income {
            color: #005330;
        }
        &--outcome {
            color: #de1b1b;
        }
    }

    &:before {
        content: "";
        position: absolute;
        width: 30px;
        height: 30px;
    }
    &__income-icon:before {
        background: url("../../assets/pictures/money.svg") no-repeat;
    }
    &__outcome-icon:before {
        background: url("../../assets/pictures/out.svg") no-repeat;
        background-size: 30px;
    }
}
