.NavPanel {
    width: 100%;
    margin-bottom: 40px;
    background-color: #8ac858;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    &__pageName {
        width: 600px;
        margin-right: auto;
        margin-left: 10px;
        color: white;
        font-size: 22px;
    }
}
