@import '../../../styles/variables.scss';

.CategoriesList{
    border: 1px solid $border-color;
    margin: 0 60px 20px;
    max-height: 169px;
    overflow-y: scroll;
    &__item{
        padding: 10px;
        border-bottom: 1px solid $border-color;
        &:last-child{
            border-bottom: none;
        }
    }
}

.Categories-list-container{
    margin-bottom: 20px;
    max-height: 0;
    transition: all 500ms ease-in-out;
    overflow: hidden;
    &--opened{
        max-height: 235px;
    }
}