.AddIncomeForm {
    display: flex;
    flex-direction: column;
    padding: 70px 30px 30px 30px;
    position: fixed;
    top: 40%;
    left: 50%;
    min-width: 600px;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.5);
    transform: translate(-50%, -50%);
    background-color: white;
    z-index: 15;
}