.FastLinks {
    display: flex;
    &__link {
        position: relative;
        width: 30px;
        height: 30px;
        display: block;
        margin-left: 15px;
        &:before {
            content: "";
            background-size: 30px;
            display: block;
            width: 100%;
            height: 100%;
        }
        &--incomes:before {
            background: url("../../../../assets/pictures/money.svg") no-repeat;
        }
        &--outcomes:before {
            background: url("../../../../assets/pictures/out.svg") no-repeat;
            background-size: 30px;
        }
    }
}
