@import "../../styles/variables.scss";

.CommonOutIn {
    display: flex;
    flex-direction: column;
    border: 1px solid $border-color;
    width: 60%;
    position: relative;
    &__dateItemValue {
        color: $main-green;
        text-align: center;
    }
    &__prevDateItem,
    &__nextDateItem {
        width: 30px;
        height: 30px;
        &:hover{
            cursor: pointer;
        }
    }
    &__prevDateItem {
        margin-left: 20px;
        background: url("../../assets/pictures/arrow.svg") no-repeat;
        transform: rotate(180deg);
    }
    &__nextDateItem {
        margin-right: 20px;
        background: url("../../assets/pictures/arrow.svg") no-repeat;
    }
    &__date {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        position: relative;
    }
    &__detail-info {
        display: flex;
        flex-direction: column;
    }
}
