.MainNavigation {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: rgb(250, 250, 250);
    z-index: 10;
    transform: translateX(0);
    transition: transform 300ms ease-in-out;
    padding: 20px;
    &--close {
        transform: translateX(-300px);
    }
    &__link {
        position: relative;
        margin-bottom: 15px;
        a {
            padding-left: 40px;
            text-decoration: none;
            color: #333;
            font-size: 22px;
            &:hover {
                opacity: 0.8;
            }
        }
        &:before {
            position: absolute;
            width: 25px;
            height: 25px;
            content: "";
            background-size: 25px;
        }
        &--home:before {
            background: url("../../../assets/pictures/home.svg") no-repeat;
        }
        &--incomes:before {
            background: url("../../../assets/pictures/money.svg") no-repeat;
        }
        &--outcomes:before {
            background: url("../../../assets/pictures/out.svg") no-repeat;
            background-size: 25px;
        }
        &--settings:before{
            background: url("../../../assets/pictures/settings-symbol.svg") no-repeat;
            background-size: 25px;
        }
        &--person:before{
            background: url("../../../assets/pictures/avatar.svg") no-repeat;
            background-size: 25px;
        }
        &--logout:before{
            background: url("../../../assets/pictures/logout.svg") no-repeat;
            background-size: 25px;
        }
    }
}
