@import "../../../styles/variables.scss";

.Button {
    position: relative;
    margin: 20px auto 0;
    width: 60%;
    & button {
        height: 46px;
        width: 100%;
        outline: none;
        color: white;
        border: none;
        font-size: 18px;
        &:hover {
            cursor: pointer;
            opacity: 0.8;
        }
    }
}

.income {
    & button {
        background-color: $main-green;
        &:active {
            background-color: $income;
        }
    }
}

.disabled {
    & button {
        background-color: $text-uness-color;
        color: #ccc;
        &:hover{
            opacity: 1;
            cursor: default;
        }
    }
}
