@import "../../../styles/variables.scss";

.Input {
    display: flex;
    margin-bottom: 25px;
    position: relative;
    &__error-message {
        position: absolute;
        bottom: -15px;
        left: 120px;
        color: red;
        font-size: 12px;
    }
    label {
        min-width: 120px;
        margin-right: 15px;
    }
    input {
        flex-grow: 1;
        height: 30px;
        min-width: 180px;
        padding: 5px 0 5px 5px;
        outline: none;
        border: 1px solid #bebebe;
        &:focus {
            border: 1px solid $main-green;
        }
    }
    &__error {
        & input {
            &:focus {
                border: 1px solid red;
            }
        }
    }
}
