.MainInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    h1 {
        text-align: center;
    }
    &__wrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 600px;
        margin: 0 auto;
        border: 1px solid #ccc;
        padding: 10px 20px;
        border-radius: 3px;
    }
}
