@import "../../styles/variables.scss";

.Auth {
    border: 1px solid $border-color;
    padding: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    &__inputs {
        display: flex;
        flex-direction: column;
        & label {
            min-width: 180px;
        }
        & input {
            min-width: 250px;
        }
    }
    &__buttons {
        display: flex;
        justify-content: space-between;
        & > div {
            flex-grow: 1;
            margin-right: 20px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
