@import "../../../styles/variables.scss";

.TotalIncomeInMounth {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid $border-color;
    border-top: 1px solid $border-color;
    &__value {
        color: $income;
    }
}
